.footerContainer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .linkBox {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:375px) {
            width: 275px;
        }

        img {
            height: 50px;
            width: 50px;

            &:hover {
                filter: brightness(1.35);
            }
        }

        a {
            font-size: 20px;
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}