:host {
    width: 100%;
    scroll-margin-top: 75px;

    @media(max-width: 825px) {
        scroll-margin-top: 100px;
    }

    @media(max-width: 550px) {
        scroll-margin-top: 175px;
    }

}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;


    h1 {
        letter-spacing: 1px;
        font-size: 50px;
        font-weight: 900;
        color: white;
        transform: scaleX(1);
        transition: all 225ms ease-in-out;
        font-family: 'Open Sans';
        text-align: center;
        margin-bottom: 30px;

        &::after {
            content: "About me";
            position: absolute;
            z-index: -1;
            left: 0;
            width: 100%;
            right: 0;
            color: rgba(77, 77, 77, 0.5);
            transform: translateY(-0.4em);
            font-size: calc(20px + 5vw);
        }

        @media(max-width: 400px) {
            font-size: 35px;
        }
    }

}

.mainBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

    @media(max-width: 1300px) {
        gap: 5%;
    }

    @media(max-width: 825px) {
        flex-direction: column;
    }

    @media(max-width: 350px) {
        gap: 2%;
    }
}

.circle {
    border-radius: 20px;
    display: flex;
    background-image: radial-gradient(ellipse farthest-corner at center top, hsla(230, 100%, 15%, 1) 0%, hsla(231, 90%, 1%, 1) 100%);
    box-shadow: 0px 6px 15px 5px rgba(0, 255, 187, 0.3);
    margin-top: 75px;


    img {
        width: 400px;
        object-fit: cover;
        border-radius: 20px;
    }

    @media(max-width: 1300px) {
        img {
            width: 300px;
        }
    }

    @media(max-width: 825px) {
        margin-top: 25px;
    }

    @media(max-width: 450px) {
        img {
            height: 330px;
        }
    }

    @media(max-width: 325px) {
        img {
            width: 250px;
        }
    }

}

.descriptionContainer {
    min-width: 250px;
    color: white;
    max-width: 800px;
    height: 100%;
}


.speechbubble {
    background-color: #26272bcc;
    color: white;
    font-size: 25px;
    line-height: 1.40;
    padding: 15px 20px;
    cursor: default;
    border-radius: 10px;
    text-align: left;

    p {
        margin: unset;
    }

    @media(max-width: 1600px) {
        font-size: 20px;
    }

    @media(max-width: 1300px) {
        font-size: 18px;
    }

    @media(max-width: 950px) {
        font-size: 16px;
    }


    @media(max-width: 825px) {
        line-height: 1.2;
    }

    &:nth-child(2n) {
        border-left: 5px solid #00ffbb;
    }

    &:nth-child(2n):after {
        content: '';
        margin-top: -30px;
        padding-top: 0px;
        position: relative;
        bottom: -45px;
        left: 20px;
        border-width: 30px 0 0 30px;
        border-style: solid;
        border-color: #26272b transparent;
        display: block;
        width: 0;
    }

    &:nth-child(2n+1) {
        border-right: 5px solid;
    }

    &:nth-child(2n+1):after {
        content: '';
        margin-top: -30px;
        padding-top: 0px;
        position: relative;
        bottom: -45px;
        left: 350px;
        border-width: 30px 30px 0 0;
        border-style: solid;
        border-color: #26272b transparent;
        display: block;
        width: 0;
    }
}