<div class="profileContainer">
    <div class="mainBox">
        <div class="descriptionContainer">
            <h1>About Me</h1>

            <div class="speechbubble" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="750">
                <p>
                    My several years of experience as a CNC turner and the process-oriented view of
                    workflows that come with it contributed to my decision to pursue an education in IT. As a
                    technology
                    enthusiast, my interest in software solutions and new technical innovations is very high and a
                    constant companion in my life. <br> <br>
                    During my IT training, I quickly realized that analytical thinking and recognizing logical
                    connections are my strengths, and these are the challenges I would like to face in the future. <br>
                    <!-- <br>
                    Within the framework of various project-based learning methods, I was able to implement various
                    software projects both in a team and independently.
                    <br> -->
                </p>
            </div>

        </div>

        <div class="profileImg" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="750">
            <div class="circle">
                <img src="assets/img/profile.jpg">
            </div>
        </div>
    </div>
</div>