.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        letter-spacing: 1px;
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
}

.mainBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    @media(max-width: 1450px) {
        flex-direction: column-reverse;
    }
}

.circle {
    border: 6px solid #0006ffb3;
    border-radius: 100%;
    display: flex;
    background-image: radial-gradient(ellipse farthest-corner at center top, hsla(230, 100%, 15%, 1) 0%, hsla(231, 90%, 1%, 1) 100%);
    filter: drop-shadow(2px 4px 20px #0006ffb3);

    img {
        color: rgb(118, 103, 103);
        width: 400px;
        height: 400px;
        object-fit: contain;
        border-radius: 100%;
    }

    @media(min-width: 1450px) {
        img {
            width: 450px;
            height: 450px;
        }
    }

    @media(max-width: 450px) {
        img {
            width: 300px;
            height: 300px;
        }
    }

    @media(max-width: 325px) {
        img {
            width: 250px;
            height: 250px;
        }
    }

}

.descriptionContainer {
    min-width: 250px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
        color: rgba($color: #0006ffb3, $alpha: 1.0);
    }

    @media(max-width:1450px) {
        margin-top: 50px;

        h1 {
            text-align: center;
        }
    }

    @media(max-width:400px) {
        h1 {
            font-size: 40px;
        }
    }
}

.description {
    span {
        line-height: 25px;
    }

    @media(max-width:400px) {
        font-size: 16px;
    }
}