<div class="profileContainer" id="aboutme">
    <div class="mainBox">
        <div class="descriptionContainer">
            <h1>About Me</h1>

            <div class="description" data-aos="fade-up" data-aos-duration="750">
                <span>I am a 24-year-old frontend developer with experience in developing web applications with
                    JavaScript & Angular. <br>
                    as an avid car enthusiast, my interest in new software as well as new
                    technical innovations is a constant companion in my life. Through my several years of experience as
                    a cnc lathe operator, i possess the ability of logical and analytical thinking. <br> The further
                    education as a frontend developer offers me exactly the challenge that corresponds to my personal
                    interest. under continuous feedback and project-based learning methods, it was possible for me to
                    implement various software projects independently as well as in a team under professional
                    guidance. <br>
                    The possibility to give free rein to my creativity and to expand and change projects
                    according to my own interests were my incentive.</span>
            </div>



        </div>

        <div class="profileImg" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="750">
            <div class="circle">
                <img src="assets/img/profile.png">
            </div>
        </div>
    </div>
</div>