<nav>
    <div class="logo">
        <a href="#"><img src="assets/img/rico-logo.png"></a>
    </div>

    <div class="links">
        <a href="#aboutme">About me</a>
        <a href="#skills">My Skills</a>
        <a href="#projects">Portfolio</a>
        <a href="#contact">Contact</a>
    </div>

    <div (click)="toggleMenu()" class="menu hide">
        <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
    </div>

    <div *ngIf="open" class="responsiveMenu" data-aos="fade-up-left">
        <a href="#aboutme" (click)="toggleMenu()">About me</a>
        <a href="#skills" (click)="toggleMenu()">My Skills</a>
        <a href="#projects" (click)="toggleMenu()">Portfolio</a>
        <a href="#contact" (click)="toggleMenu()">Contact</a>
    </div>
</nav>