nav {
    background-color: #141D2F;
    height: 110px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position: sticky;
    top: 0;
    font-size: 21px;


    a {
        color: white;
        text-decoration: none;
        padding-right: 20px;
    }
}