<div class="projectContainer" id="projects">
    <div class="headline">
        <div data-aos="zoom-in-up" data-aos-duration="1000">
            <h2>Portfolio</h2>
            <span>This page is a sample of my work - please feel free to try them out.</span>
        </div>

        <div class="projectlist">
            <div class="projectBox box" data-aos="zoom-in" data-aos-duration="1500">
                <img src="./assets/img/laptop-dark.png">

                <div class="projectDescription">
                    <h2>Join</h2>

                    <div class="technologies">
                        <span>HTML</span> | <span>CSS</span>| <span>Javascript</span> | <span>Backend</span>
                    </div>

                    <div class="description">
                        what is join?
                        join is a Kanbanboard written with HTML, CSS which was developed as a group work. In this
                        project
                        the server functionality was simulated by a mini-backend.
                    </div>

                    <div class="btnBox">
                        <button>Try out</button>
                        <button>Github</button>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- <a href="https://www.freepik.com/free-photo/laptop-airport-lounge_18834996.htm#query=macbook&position=49&from_view=keyword">Image by rawpixel.com</a> on Freepik -->
</div>