:host {
    width: 100%;
}

.projectContainer {
    color: white;
    padding-top: 100px;

    @media(max-width: 685px) {
        padding-top: 200px;
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #ffffff;
            text-shadow: 1px 1px 2px, 0 0 1em #00ffbb, 0 0 0.2em;
            font-size: 50px;
            font-family: 'Montserrat' !important;
            text-align: center;
        }

        span {
            font-size: 23px;
        }
    }

    .projectList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projectBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 125px;
        height: fit-content;
        box-shadow: 5px 5px 15px 5px rgb(0 6 255 / 70%);
        background-image: radial-gradient(ellipse farthest-corner at center top, hsl(230deg, 100%, 15%) 0%, hsl(231deg, 90%, 1%) 100%);




        @media(max-width: 1050px) {
            flex-direction: column;
            height: fit-content;
            width: unset;
        }

        img {
            height: 385px;
            max-width: 425px;
            padding: 3px;
            object-fit: cover;
            border-radius: 5px;

            @media(max-width: 1050px) {
                padding-top: 3px;
                padding-bottom: 3px;
                max-width: 500px;
            }

            @media(max-width: 550px) {
                max-width: 350px;
            }

            @media(max-width: 400px) {
                max-width: 275px;
            }

        }

        .projectDescription {
            padding: 0 50px;
            font-size: 18px;

            h2 {
                text-align: center;
                font-size: 30px;
                font-family: 'Montserrat' !important;
            }

            @media(max-width: 1050px) {
                max-width: 500px;
                text-align: center;
                padding: 25px 0 25px 0;

                h2 {
                    font-size: 25px;
                    font-weight: 700;
                }
            }

            @media(max-width: 550px) {
                max-width: 350px;
            }

            @media(max-width: 400px) {
                max-width: 275px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

        .technologies {
            color: aquamarine;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            span {
                padding: 5px;
                border: 1px solid;
                border-radius: 5px;
                border-color: aquamarine;
                margin-right: 8px;
            }

            @media(max-width: 550px) {
                span {
                    margin-right: 8px;
                }
            }

            @media(max-width: 550px) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;

                span {
                    margin-right: unset;
                }
            }

        }

        .description {
            margin-top: 30px;
        }

        .btnBox {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 25px;

            @media(max-width: 1050px) {
                margin-bottom: 30px;
            }


            a {
                text-decoration: none;
                border: 1px solid rgb(146, 148, 248);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                height: 50px;
                width: 100px;
                border-radius: 10px;
                color: white;
                overflow: hidden;

                &:hover {
                    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(120deg,
                            transparent,
                            rgba(146, 148, 248, 0.4),
                            transparent);
                    transition: all 650ms;
                }

                &:hover:before {
                    left: 100%;
                }
            }
        }
    }
}