<div class="projectContainer" id="projects">
    <div class="headline">
        <div data-aos="zoom-in-up" data-aos-duration="1000">
            <h2>Portfolio</h2>
            <span>This page is a sample of my work - please feel free to try them out.</span>
        </div>
    </div>

    <div class="projectList">
        <div class="projectBox" data-aos="zoom-in" data-aos-duration="750">
            <img src="assets/img/join.png">

            <div class="projectDescription">
                <h2>Join</h2>

                <div class="technologies">
                    <span>HTML</span> <span>CSS</span> <span>Javascript</span> <span>Backend</span>
                    <br>
                </div>

                <div class="description">
                    join is a Kanbanboard written with HTML, CSS which was developed as a group work. In this
                    project
                    the server functionality was simulated by a mini-backend.
                </div>

                <div class="btnBox">
                    <a href="https://rico-denkewitz.developerakademie.net/Grppenarbeit%20Join" target="_blank"> Try it
                        out</a>
                    <a href="https://github.com/Phischthecat/Join---Kanban-Board" target="_blank"> Github</a>
                </div>
            </div>
        </div>

        <div class="projectBox top " data-aos="zoom-in" data-aos-duration="750">

            <div class="projectDescription">
                <h2>Sharkie</h2>

                <div class="technologies">
                    <span>HTML</span> <span>CSS</span> <span>Javascript</span> <span>Object-Orientation</span>
                </div>

                <div class="description">
                    Sharkie is a javascript based jump and run game with a focus on object oriented programming.
                </div>

                <div class="btnBox">
                    <a href="https://rico-denkewitz.developerakademie.net/Sharkie" target="_blank"> Try it out</a>
                    <a href="https://github.com/Rico-1998/Sharkie" target="_blank"> Github</a>
                </div>
            </div>

            <img src="assets/img/sharkie.jpg">

        </div>

        <div class="projectBox" data-aos="zoom-in" data-aos-duration="750">
            <img src="assets/img/portfolio.jpg">

            <div class="projectDescription">
                <h2>Portfolio</h2>

                <div class="technologies">
                    <span>HTML</span> <span>SCSS</span> <span>Typescript</span> <span>Angular</span>
                    <br>
                </div>

                <div class="description">
                    My own portfolio website as an Angular project written in HTML , SCSS and Typescript.
                </div>

                <div class="btnBox">
                    <a href="https://github.com/Rico-1998/Portfolio" target="_blank"> Github</a>
                </div>
            </div>
        </div>


        <div class="projectBox top " data-aos="zoom-in" data-aos-duration="750">

            <div class="projectDescription">
                <h2>Pokedex</h2>

                <div class="technologies">
                    <span>HTML</span> <span>CSS</span> <span>Javascript</span> <span>Rest-API</span>
                </div>

                <div class="description">
                    Gotta catch them all! <br>
                    This project is based on HTML, CSS and Javascript and all data were fetched from an API.
                </div>

                <div class="btnBox">
                    <a href="https://rico-denkewitz.developerakademie.net/Pokedex" target="_blank"> Try it out</a>
                    <a href="https://github.com/Rico-1998/Pokedex" target="_blank"> Github</a>
                </div>
            </div>

            <img src="assets/img/pokedex.jpg">

        </div>

    </div>

    <!-- <a href="https://www.freepik.com/free-photo/laptop-airport-lounge_18834996.htm#query=macbook&position=49&from_view=keyword">Image by rawpixel.com</a> on Freepik -->

</div>