:host {
    padding-top: 100px;
    width: 100%;
    scroll-margin-top: 75px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 75px;


    .headlineDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-top: 100px;

        h2 {
            font-size: 50px;
            font-weight: 900;
            font-family: 'Open Sans';
            transform: scaleX(1);
            transition: all 225ms ease-in-out;
            white-space: nowrap;


            &::after {
                content: "Contact me";
                position: absolute;
                z-index: -1;
                left: 0;
                width: 100%;
                right: 0;
                color: rgba(77, 77, 77, 0.5);
                transform: translateY(-0.4em) translate(-1.7em);
                font-size: calc(20px + 5vw);
                white-space: nowrap;

                @media(max-width:1750px) {
                    transform: translateY(-0.4em) translate(-1.5em);
                }

                @media(max-width:1450px) {
                    transform: translateY(-0.4em) translate(-1.2em);
                }

                @media(max-width:1250px) {
                    transform: translateY(-0.4em) translate(-0.9em);
                }

                @media(max-width:925px) {
                    transform: translateY(-0.4em) translate(-0.5em);
                }

                @media(max-width:750px) {
                    transform: translateY(-0.4em) translate(-0.3em);
                }

                @media(max-width:640px) {
                    transform: translateY(-0.4em) translate(-0.6em);
                }

                @media(max-width:540px) {
                    transform: translateY(-0.4em) translate(-0.0em);
                }

                @media(max-width:350px) {
                    transform: translateY(-0.4em) translate(0.3em);
                }
            }

        }

        span {
            font-size: 23px;
            line-height: 30px;
            text-align: center;

            @media(max-width: 400px) {
                font-size: 20px;
            }
        }


        a {
            color: #00ffbb;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media(max-width:675px) {
            span {
                text-align: center;
            }
        }

        @media(max-width:675px) {
            h2 {
                font-size: 40px;
            }
        }


        @media(max-width: 400px) {
            font-size: 35px;
        }

        @media(max-width: 350px) {
            span {
                font-size: 16px;
            }
        }
    }

    .contactForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 0;

        .invalid-filled-input {
            border: 2px solid red;
            color: red;
        }

        .valid-filled-input {
            border: 2px solid #00ffbb;
            color: #00ffbb;
        }

        .inputBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            margin-top: 30px;

            input {
                font-family: 'Montserrat' !important;
                height: 40px;
                width: 80%;
                background-color: rgba(0, 0, 0, 0.5);
                padding-left: 10px;
                color: white;
                font-size: 16px;
                outline: none;
                border-radius: 8px;
            }
        }

        .field {
            width: 80%;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .textBox {
            display: flex;
            flex-direction: column;
            color: white;
            margin-top: 25px;
            align-items: center;


            textarea {
                font-size: 16px;
                width: 80%;
                color: white;
                border-radius: 8px;
                height: 180px;
                resize: none;
                font-family: 'Montserrat' !important;
                margin-bottom: 50px;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px 0 0 10px;
                outline: none;
            }
        }


        .btnBox {
            display: flex;
            justify-content: center;

            button {
                height: 50px;
                width: 125px;
                color: rgb(255 255 255 / 70%);
                font-size: 20px;
                border-radius: 5px;
                border: 1px solid rgb(0, 255, 187);
                background-color: rgba(0, 0, 0, 0.5);

                &:hover {
                    color: white;
                    background-color: rgba($color: #00ffbb, $alpha: .8);
                    transition: 225ms ease-in-out;
                    cursor: pointer;
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}