.skillContainer {
    color: white;
    padding: 100px 10% 100px 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headline {
        display: flex;
        justify-content: center;

        h2 {
            display: flex;
            justify-content: center;
            font-size: 50px;
            margin-bottom: -15px;
            background-image: radial-gradient(ellipse, hsl(230deg, 100%, 15%) 0%, hsl(231deg, 90%, 1%) 300%);
            position: relative;
            padding: 0 25px;
        }

        @media(max-width:325px) {
            h2 {
                padding: 0 10px;
            }
        }

    }

    .boxOfSkills {
        border: 3px solid white;
        padding: 75px;

        .gridBox {
            display: grid;
            grid-row-gap: 50px;
            grid-template-columns: 0px repeat(3, 0) 0px;
            grid-column-gap: 150px;
            justify-content: center;

            @media(max-width: 875px) {
                grid-column-gap: 115px;
            }

            @media(max-width: 685px) {
                grid-template-columns: 0px repeat(2, 0) 0px;
            }

            @media(max-width: 685px) {
                grid-template-columns: 0px repeat(1, 0) 0px;
            }

            @media(max-width: 400px) {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 50px;
            }


            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            div span {
                padding-top: 20px;
                display: flex;
                justify-content: center;
                font-size: 18px;
            }
        }
    }

}