<div class="presentationBox">
    <div class="introductionContainer" data-aos="zoom-in-down" data-aos-duration="750" data-aos-delay="1000">

        <div class="headline">
            <span class="moveLeft">Developer</span>
        </div>

        <div class="nameBox">
            <div class="border"></div>
            <span>Rico Denkewitz</span>
        </div>

    </div>

</div>

<div class="box">
    <a href="#aboutme">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<div class="linkTree">
    <a href="#contact">
        <img src="assets/img/email.svg">
    </a>

    <a href="https://github.com/Rico-1998">
        <img src="assets/img/git.svg">
    </a>

    <a href="https://www.linkedin.com/in/rico-denkewitz/">
        <img src="assets/img/linkedIn.svg">
    </a>

</div>