<div class="grayedBackground" [ngStyle]="{'top.px': 75}"></div>
<div class="presentationBox">
    <span class="welcome"> Welcome, </span>
    <ngx-typed-js [typeSpeed]="125" [startDelay]="1000" [backSpeed]="80" [backDelay]="2000" [contentType]="'html'"
        [strings]="['Frontend Developer.']" [loop]="true">
        <h1> <span class="jobName">I am Rico Denkewitz</span></h1>
        <span class="typing jobName"></span>
    </ngx-typed-js>
</div>
<div class="grayedBackground" [ngStyle]="{'top': 'calc(100vh - 100px)'}">
    <div class="container">
        <a href="#aboutme">
            <span>Lets talk</span>
        </a>
    </div>
</div>


<!-- <a href="https://de.freepik.com/fotos-kostenlos/marineblaues-digitales-rastertapete-mit-farbverlauf_15665044.htm#query=it&position=34&from_view=search&track=sph">Bild von rawpixel.com</a> auf Freepik -->