@import url("assets/fonts/montserrat.scss");
@import url("assets/fonts/open-sans.scss");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    position: absolute;
    z-index: -1;
    background-color: #060e1f;
    font-family: 'Montserrat' !important;
}